body{
    margin-left: 30px;
    margin-right: 10px;
    background-image: url(images/161519762131190962.png);
    background-size:inherit;
    background-repeat:repeat;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.container{
    width: 99%;
    height: 1000px;
	position: static;
    float: none;
}

.header{
    width: 100%;
    height: 20%;
    background-color: rgba(132, 236, 255, 0.700);
    float: left;
    background-blend-mode: overlay;
}

.nav{
    width: 100%;
    height: 20%;
    background-color: rgba(136, 255, 255, 0.856);
    float: center;
    background-blend-mode: overlay;
    overflow-y: clip;
    overflow-x: visible;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: clip;
    
}

.nav li {
    width: 100%;
    height: 5%;
    float: left;
    background-color:rgb(155, 68, 255)
}

.nav li a {
    display: block;
    color: rgb(34, 0, 114);
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.nav li a:hover {
   background-image: url(images/navhover.gif);
   background-position: center;
   transform: scale(1.10);
   transition: transform 1s; /* Animation */
   margin: 0 auto;
}

.header  h1{
	color: rgb(0, 0, 0);
	font-family: 'Roboto Mono', monospace;
    text-align: left;
    margin-top: 90px
}

.header  h4{
	color: rgb(0, 0, 0);
	font-family: 'Roboto Mono', monospace;
    text-align: left;
    position: sticky;
}

.header  h3{
	color: rgb(0, 0, 0);
	font-family: 'Roboto Mono', monospace;
    text-align: left;
    position: sticky;
}

.socials{
    float:right;
    padding-right: 3%;
}

.socials a{
    color:black;
    text-decoration: none !important;
}

#soc_hover:hover{
    transform: scale(1.20);
   transition: transform 1s; /* Animation */
}

.contentl{
    overflow: hidden;
    width: 0%;
    height: 90%;
    background-color:rgba(125, 255, 190, 0.700);
    float: left;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

 .contentm{
    width: 100%;
	height: 90%;
    background-color:rgb(132, 236, 255, 0.700);
    background-size: initial;
	background-repeat: no-repeat;
    float: left;
    text-align:center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
 } 

 .contentr{
    overflow: hidden;
    width: 0%;
	height: 90%;
    background-color:rgba(125, 255, 190, 0.700);
    float: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align:center;

 } 

 .footer{
    width: 100%;
	height: 25%;
    background-color:rgba(164, 241, 255, 0.700);
    float: left;
    font-family: 'Roboto Mono', monospace;
    text-align:center;
    font-size:15px;
 } 

 #keyboard{
    float:left;
    width:325px;
    height:200px;
    margin-top: 1%;
    margin-left: 1%;
}

#rights{
    float:left;
    margin-top: 12%;
    margin-left: 2%;
}

 #newsletter{
    float: left;
    width:100px;
    height:100px;
    left:90%;
    margin-top: 75px;
    position:absolute;
 }

 .emailN{
    display: block;
    float:right;
    right:15%;
    position:absolute;
    margin-top:75px;
 }

 .submitN{
    display: block;
    float:right;
    right:10.80%;
    position:absolute;
    margin-top:75px;
 }

 .vacanciesN{
    display: block;
    float:right;
    right:15%;
    position:absolute;
    margin-top:110px;
 }

 #VText{
     font-size:small;
 }

 .postedN{
    display: block;
    float:right;
    right: 15%;
    position:absolute;
    margin-top:140px;
 }

 #PText{
    font-size:small;
}

#logo {
    padding: 15px;
    width: 175px;
    height:175px;
    float: left;
    position: sticky;
}

